output {
  elasticsearch {
  	protocol => http
    host => "{{ logstash_elasticsearch_host }}"
    user => "{{ logstash_elasticsearch_user }}"
    password => "{{ logstash_elasticsearch_password }}"
  }
}
