<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ad.library"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.ACCOUNT_MANAGER"></uses-permission>
	<application>
		<activity android:name="net.youmi.android.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"/>
				
		<!-- appoffers -->
		<activity android:name="net.youmi.android.appoffers.AppOffersActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"/>
	</application>              
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!-- http://wiki.youmi.net/wiki/PromotionChannelIDs -->
	<meta-data android:name="YOUMI_CHANNEL" android:value="10050"/><!-- 应用汇 -->
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" 
          android:maxSdkVersion="9"/>
</manifest>