<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="wxGstPanel">
		<size>681,355</size>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="gstTopSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="VideoSizer" member="no">
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="videoPanel" member="yes">
							<size>790,412</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>5</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_METADATA" variable="txtMetaData" member="yes">
							<label>Video 0:&#x0A;xxxxxxxxxxx&#x0A;Audio 0:&#x0A;xxxxxxxxxxxxxx</label>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>8</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="controlSizer" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_PLAY" variable="btnPlay" member="yes">
							<label>play</label>
							<handler function="OnbtnPlayClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_PAUSE" variable="btnPause" member="yes">
							<label>pause</label>
							<handler function="OnbtnPauseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_STOP" variable="btnStop" member="yes">
							<label>stop</label>
							<handler function="OnbtnStopClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_VIDEO" variable="videoSlider" member="yes">
							<handler function="OnvideoSliderCmdScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>5</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
