<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxMediaFrame">
		<title>Media Gadgets</title>
		<pos>-1,-1</pos>
		<size>800,600</size>
		<minsize>800,600</minsize>
		<maxsize>800,600</maxsize>
		<object class="wxMenuBar" variable="menuBarMedia" member="no">
			<object class="wxMenu" variable="MenuFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuOpen" variable="MenuItemOpen" member="yes">
					<label>Open</label>
					<help>open video file</help>
					<handler function="OnMenuFileOpenSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItemQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuView" member="yes">
				<label>&amp;View</label>
				<object class="wxMenuItem" name="idMenuPlayer" variable="MenuItemPlayer" member="yes">
					<label>Player</label>
				</object>
				<object class="wxMenuItem" name="idMenuEditor" variable="MenuItemEditor" member="yes">
					<label>Editor</label>
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItemAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR_MEDIA" variable="statusBarMedia" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
